<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>
<p>
    Splurty was built by <a target="_blank" href="http://github.com/camcallaghan">Colum O' Callaghan</a>. I am a web developer with a developing skillset for full stack web development. I am available for backend development work as well as freelancing, contract and permanent roles. Check out my bootcamp portfolio <a target="_blank" href="http://www.columocallaghan.com"> here </a> to review my skills.
  </p>
  <br />
  <p>
    I am developing my back end & full stack programming experience together with some personal projects & freelance portfolio. My background consists of over 18 years experience across the IT, Software & Manufacturing industries together with some data admin & business design experience.
  </p>
  <p>
    If you want to see more of my work or want to get in touch, please visit my website<a target="_blank" href="http://www.columocallaghan.com"> here </a>.
  </p>

<div class="col-xs-12 col-sm-4 col-md-9">
<div class="col-xs-12 col-sm-4" style="padding-top:30px;">
<%= image_tag 'Colum.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
<h2 class="text-center">Colum O' Callaghan</h2>
<br />

<p>
      Colum O' Callaghan is a web developer who builds web experiences using the latest technologies. By focusing on the client uniquely and by offering a first class build service for all the digital needs to help drive small to medium business. I can be found for all enquiries at <a target="_blank" href="http://www.columocallaghan.com/"> my webpage </a> with services in web-development, branding, e-commerce, search, marketing, app development and 3D Motion & Animation.
    </p>
    </div>
    <br class="clear">
    <br />
    <br />
    <br />
    <br />


</div>
