<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>
<p>
    Splurty was built by <a target="_blank" href="http://github.com/camcallaghan">Colum O' Callaghan</a>. I am a web developer with a primary goal of rapidly improving my knowledge in the web development sphere. I am open to contact and aim to have a much more established portfolio on completion of this course together with some part time/promotional work over the next few months.
  </p>
  <br />
  <p>
    While I am developing my back-end programming experience to reflect my swing into programming from some front-end work, I recognise the greater need for programming professionally together with a skills shortage in the UK at the moment. All hopefully to my advantage upon completion of my training. My background consists of over 18 years experience across the Tourism, Manufacturing & Construction Industry which has taught me valuable lessons down through the years.
  </p>
  <p>
    If you want to see more of my work or want to get in touch, please visit my website<a target="_blank" href="http://www.calitrixdigital.com"> here </a>.
  </p>

<div class="col-xs-12 col-sm-4 col-md-9">
<div class="col-xs-12 col-sm-4" style="padding-top:30px;">
<%= image_tag 'Colum.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
<h2 class="text-center">Colum O' Callaghan</h2>
<br />

<p>
      Colum O' Callaghan is a web developer who builds web experiences using the latest technologies. By focusing on the client uniquely and by offering a first class build service for all the digital needs to help drive small to medium business. can be found for all enquiries at <a target="_blank" href="http://www.calitrixdigital.com/">Calitrix Digital</a> with services in web-development, branding, e-commerce, search, marketing, app development and 3D Motion & Animation.
    </p>
    </div>
    <br class="clear">
    <br />
    <br />
    <br />
    <br />


</div>
